<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <%- include("partials/head") %>
</head>
<headerAbout>

    <%- include("partials/redessociales2") %>
    <%- include("partials/navbar") %>
</headerAbout>
<bodyAbout >
    <div class="parallax-container">
      
  

       
      </div>
</bodyAbout>


<footerAbout>
    <%- include("partials/footer") %>
</footerAbout>
</html>

