

 /*--------------------------------------------------------------------------*/

       /*footer3morado*/
       
       .footer {
        background-color: #190931;
        color: #fff;
        padding: 7rem 0;
        border-block: 1px solid #7E2DF978; 
      }

 



      .column {
        flex-basis: calc(33.333% - 6rem);
        margin: 0;
        font-family: 'Blender Pro';
        font-weight: normal;
        font-style: normal;
        left: 90px;
         position: relative;
      }
   

      @media (max-width: 991px){
      .column a:hover{
        color: #a03cfc;
        transition: color .35s ease,text-shadow .35s ease;
        text-shadow: 0px 0px 20px #a03cfc;
      }}


      .column a:hover{
        color: #a03cfc;
        transition: color .35s ease,text-shadow .35s ease;
        text-shadow: 0px 0px 20px #a03cfc;
      }


      .container2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 00 90px;
        font-family: 'Blender Pro';
        font-weight: normal;
        font-style: normal;
        bottom: 25px;
        position: relative;
}
    
      
      .social-media2 {
       display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
      }
      .social-media2 a {
        margin-right: 25px;
        justify-content: space-between;
        color: #beb3cf;
        width: 100%;
        
      }
    
    
      
      .column h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
      }
      
      .column ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #beb3cf;
      }
    
    
      
      .column ul li {
        flex-basis: calc(25% - 0.5rem);
        
      }
      
      .column ul li a {
        display: flex;
        justify-content: center;
    
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: #beb3cf;
        font-size: 1.8rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }
      
      .column ul li a:hover {
        background-color: #fff;
        color: #428a00;
      }
      
      .column p {
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
      }
      .column a {
        
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
        color: #ffffff;
        text-decoration: none;
      }
    
   
   
    @media (max-width: 991px){
        .footer {
            justify-content: flex-start;
          
            padding: 15rem 2rem;
            height: 50%;
            width: 100%;
        }
    }
    @media (max-width: 991px){
    .container2 {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 50px;
        padding: 0;
      }  }

      @media (max-width: 991px){
      .column {
        flex-basis: calc(33.333% - 6rem);
        margin: 0;
        position: relative;
        bottom: 130px;
        left: -8px;
      }}
      @media (max-width: 991px){

      .column p {
        margin-bottom: 0.8rem;
        font-family: 'Blender Pro';
        font-weight: 100;
        font-style: normal;
        font-size: 15px;
      }}
      @media (max-width: 991px){

      .column a {
    font-family: 'Blender Pro';
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
   
    }
      }
    
      @media (max-width: 991px){   
      .column h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
        bottom: 4px;
        position: relative;
      } }



      body90 {
        font-family: 'Blender Pro';
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      
      .match-container {
        max-width: 1380px;
        margin: 50px auto;
        background: #7f2df900;
        position: relative;
        background: #7E2DF90D;
        border: 1px solid;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
        height: 145px;
        bottom: 60px;
    }
    @media (max-width: 991px){   
    .match-container {
      max-width: 1380px;
      margin: 10px 30px;
      background: #7f2df900;
      position: relative;
      background: #7E2DF90D;
      border: 1px solid;
      border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
      box-shadow: 0 0 20px #d1d1d11a;
      height: 270px;
      bottom: 60px;
  }}
     
      
      .match-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
        color: #ffffff;
        border: 1px solid;
        max-width: 1380px;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
      }
      
      .team-name {
         font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
       
      }
      @media (max-width: 991px){ 
      .match-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
        color: #ffffff;
        border: 1px solid;
        max-width: 1380px;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
      } }
      @media (max-width: 991px){ 
      .team-name {
         font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
       
      } }
      .match-subtitle {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        color: #777;
      }
      
      .match-details {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
      }
      
      .match-date {
        font-size: 18px;
        font-family: 'Blender Pro';
        font-weight: bold;
        color: #ffffff;
      }
      
      .match-time {
        font-size: 18px;
        font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
      }
      
      .match-game {
        font-size: 18px;
        font-family: 'Blender Pro';
        font-weight: bold;
        color: #ffffff;
      }

      .imagen2 .im {

  border-radius: 8px;
  width: 100%;
  height: auto;
  transition: .3s;
  border-radius: 8px;
  content: "";
 filter: drop-shadow(15px 15px 50px #130623);
  opacity: 1;
  margin-bottom: 10px;
        transition: border-color 0.3s;
        border: 0.3px solid #8b79a59a;
}
.imagen2 .im2 {

  border-radius: 8px;
  width: 100%;
  height: auto;
  transition: .3s;
  border-radius: 8px;
  content: "";
 filter: drop-shadow(15px 15px 50px #130623);
  opacity: 1;
  margin-bottom: 10px;
        transition: border-color 0.3s;
        border: 0.3px solid #8b79a59a;
}     

.imagen2 {

display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
transform: scale(0.9);

}
.image-container {
  width: 33.33%;
  float: left;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: border 0.3s ease;
}

.image-container:hover img {
  border: 3px solid blue;
  box-sizing: border-box;
}


/*++++++++++++++++++++++++++++++++++++++++++++*/
body77{
display: flex;
justify-content: center;
align-items: center;
height: 60vh;
background: #170a28;

}
@media (max-width: 991px){ 
body77{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: #170a28;
  
  }}

.card{
  position: relative;
  background: linear-gradient(106.32deg, #26194d41 14.32%,
  rgba(64, 43, 120, 0.295) 139.97%);
  border-radius: 20px ;
  height: 460px;
  width: 296px;

  box-shadow: 0 0 20px #35227a1a;
}

@media (max-width: 991px){ 
.card{
  position: relative;
  background: linear-gradient(106.32deg, #26194d41 14.32%,
  rgba(64, 43, 120, 0.295) 139.97%);
  border-radius: 20px ;
  height: 320px;
  width: 250px;

  box-shadow: 0 0 20px #35227a1a;
  
}
}
@media (max-width: 991px){ 
.swiper-slide{

  width: 80%;

}}
.card .card-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}
@media (max-width: 991px){ 
.card .card-content{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 100;
}}
@media (max-width: 991px){ 
.swiper{
  width: 980px;
}}

.swiper{
  width: 950px;
}
@media (max-width: 991px){ 
section{
  position: relative;
  width: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}}

section{
  position: relative;
  width: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}

  section .card .imagen{
  
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #ffffff;
    box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
  }
  section .card .imagen img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
@media (max-width: 991px){ 
section .card .imagen{

  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 1px;
 
  box-shadow: 0px -1px 4px 2px rgb(2, 0, 0);
}
section .card .imagen img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffffff;
}}

.box1{
position: absolute;
width: 100%;
height: 43%;
border-radius: 20px 20px 0 0;
background: linear-gradient(106.32deg, #26194dd2 14.32%,
rgba(64, 43, 120, 0.699) 139.97%);
}



@media (max-width: 991px){ 
.box1{
  position: absolute;
  width: 100%;
  height: 43%;
  border-radius: 20px 20px 0 0;
  background: linear-gradient(106.32deg, #26194dd2 14.32%,
  rgba(64, 43, 120, 0.699) 139.97%);
  } 

}

.card .media-icons{

  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .media-icons i{
color: #f0f0f0;
opacity: 0.7;
margin-top: 10px;
transition: all 0.3s ease;
cursor: pointer;
}
.card .media-icons i:hover{
  opacity: 1;
  color: #190931;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.name-profession .name{
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: "Blender Pro";
text-transform: uppercase;
}
.name-profession .profession{
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Blender Pro";
text-transform: uppercase;
}
.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}
.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #7736d0;
}


section .card .about{
  display: flex;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: 'Blender Pro';
  font-weight: 100;
  font-size: 12px;
}
.card .button1{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.card .b1 button{
  background: #dad2e4;
  color: #428a00;
}
.card .button1 button{
  outline: none;
  border: none;
  color: #ffffff;
  padding: 8px 22px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  background: #7736d0;
}
.card .button1 button:hover{
  opacity: 0.8;
}



.swiper-pagination{
  position: absolute;
  top: 520px;
}
.swiper-pagination-bullet{
  height: 15px;
  width: 15px;
  border-radius: 5px;
  background: #428a00;
}
.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #fff;
  transition: all 0.3s none;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #7636d08c;
}

.imagenpresent{
  top: 8%;
  position: relative;
}


/*-----------------------*/
body{
  margin :0;
  font-family: 'Lobster', cursive;
}
.container{
  height:100vh;
  overflow-x: hidden;
  perspective: 20px;
}
.parallax{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
}
.bg{
  position: absolute;
  width:100%;
  height: 100%;
  background-image: url(img1.jpg);
  background-size: cover;
  background-position: center;
  transform: translateZ(-10px) scale(1.);
}
.content{
  color:#fff;
  font-size: xx-large;
  transform: translateZ(10px);
}
.static{
  height:100vh;
  background-image: linear-gradient(
      to bottom,
      transparent,
      #1B2735 50px
  );
  transform: translateY(-50px);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  font-size: xxx-large;
}
.rock1{
  position: absolute;
  width:60px;
  transform: translateZ(17px)
      translateX(-50px) translateY(80px)
  ;
}
.rock2{
  position: absolute;
  width:90px;
  transform: translateZ(5px)
      translateX(80px) translateY(30px)
  ;
}


/*-------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
bodywe{
    font-family: Poppins;
    margin: 0;
    font-size: 16px;
    background-color: #822cfc;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
 

    --w-image: 495px;
    --calculate: calc(3 / 2);
}
.carousel{
    margin-top: -10px;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
@media screen and (max-width: 767px){
.carousel{
  margin-top: -10px;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}}
.carousel .list{
    height: 100%;
   
}
.carousel .list::before{
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: '';
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    pointer-events: none;
}
.carousel .list::after{
    position: absolute;
    top: 50px;
    left: 50px;
    content: '';
    /*para poner color a fondo*/
 
    width: 400px;
    height: 300px;
    z-index: 10;
    pointer-events: none;
    border-radius: 20px  50px 110px  230px;
    filter: blur(150px);
    opacity: .6;
}
.carousel .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel .list .item .image{
    width: var(--w-image);
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
   
}
.carousel .list .item .image img{
  width: 70%;
  margin-bottom: 0px;
bottom: -60px;
  filter: drop-shadow(0px 0px 50px #180623);
  opacity: 1;
  position: relative;
}
@media screen and (max-width: 767px){
  .carousel .list .item .image img{
    width: 90%;
    margin-bottom: 0px;
    bottom: 30px;
    filter: drop-shadow(0px 0px 50px #180623);
    opacity: 1;
    position: relative;
}}

.carousel .list .item .image figcaption{
  font-family: 'Blender Pro';
  font-weight: normal;
  font-style: normal;
    font-size: 1.3em;
    text-align: right;
    margin-bottom: 30px;
    width: 70%;
    color: #fff;
    bottom: -30px;
    position: relative;
    left: -50px;
}
.carousel .list .item .main-content{
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content{
    padding: 50px 20px  20px 80px;
}
.carousel .list .item .main-content .content h2{
    font-size: 5em;
    font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
}
.carousel .list .item .main-content .content .price{
  font-family: 'Blender Pro';
  font-weight: bold;
  font-style: normal;
    font-size: 3em;
    margin: 20px 0;
}
.carousel .list .item .main-content .content .addToCard{
    background-color: #7E2DF978;
    color: #fff;
    padding: 10px  30px;
    font-family: Poppins;
    font-size: large;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}
.arrows{
    position: absolute;
    bottom: 20px;
    width: calc(100% - calc(var(--w-image) * var(--calculate)));
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: 50px;
    justify-content: end;
    gap: 10px;
        left: -2%;
}
.arrows button{
    background-color: transparent;
    border-image: linear-gradient(90deg, rgba(250, 204, 165, .7) 0%, rgba(126, 45, 249, .7)) 1 / 1 / 0 stretch;
    box-shadow: 0 0 20px #d1d1d11f;
    color: #fff;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    line-height: 0;
   
    cursor: pointer;
    transition: 0.5s;
}
.arrows button:hover{
    background-color: rgba(132, 0, 255, 0.333);
}
.arros:hover{
  background-color: rgba(132, 0, 255, 0.333);
}
.carousel .list .item{
    display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    display: block;
}
.carousel .list .item.active{
    z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2{
    pointer-events: none;
}
.carousel .list .item.active .main-content{
    animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        clip-path: circle(0% at 70% 50%);
    }to{
        clip-path: circle(100% at 70% 50%);
    }
}
.next .item.other_1{
    z-index: 1;
}
.next .item .image img,
.next .item .image figcaption{
    animation: effectNext .5s ease-in-out 1 forwards;
}
@keyframes effectNext{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) - var(--w-image)));
    }
}
.next .item.active .image{
    --transform-from: var(--w-image);
}
.next .item.other_1 .image{
    z-index: 3;
    --transform-from: 0px;
    overflow: hidden;
}
.next .item.other_2 .image{
    z-index: 3;
    --transform-from: calc(var(--w-image) * 2);
}
.arrows{
    z-index: 10;
}
/* prev */
.prev .list .item .image img,
.prev .list .item .image figcaption{
    animation: effectPrev 0.5s ease-in-out 1 forwards;
}
@keyframes effectPrev{
    from{
        transform: translateX(calc(var(--transform-from)));
    }to{
        transform: translateX(calc(var(--transform-from) + var(--w-image)));
    }
}
.prev .list .item.active .image{
    --transform-from: calc(var(--w-image) * -1);
    overflow: hidden;
}
.prev .list .item.other_1 .image{
    --transform-from: 0px;
    z-index: 3;
}
.prev .list .item.other_2 .image{
    z-index: 3;
    --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content{
    opacity: 0;
}
@media screen and (max-width: 1023px){
    :root{
        --calculate: 1;
        --w-image: 400px; 
    }
    .carousel .list .item .main-content .content h2{
        font-size: 3em;
    }
}
@media screen and (max-width: 767px){
    .carousel .list .item .image{
        width: 80%;
        left: 40px;
        justify-content: center;
   
    
    }
    .carousel .list .item .image figcaption{
        color: #fff;
        width: 100%;
        text-align: center;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
        bottom: 5px;
        position: relative;
        left: 10px;
    }
    .carousel .list .item .main-content .content{
        display: none;
    }
    .arrows{
        left: 50%;
        justify-content: center;
        bottom: 30px;
    }
   
      
}


.carousel-innerVideo {
  position: relative;
  width: 100%;
  overflow: hidden;
  top: 0;
}
.imagenFooter img{
width: 20% ;
}
.imagenFooter a1{
  bottom: 10%;
  }

@media (max-width: 991px){
.imagenFooter img{
 
    width: 20%;
    bottom: 150px;
    position: relative;
    left: -10px;


  }  
.imagenFooter p{
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  top: -350%;
  left: 0;

}
}

.imagenIndex{
  position: relative;
  left: 10%;
  width: 100%;
  height: auto;
}
.imagenIndex a{

  font-weight: 700;
  font-size: 1rem;
  color: #fff;
 font-family: "Blender Pro";
}
.imagenIndex img{
  border: 1px solid #faeba963;
  border-radius: 8px;
  width: 35%;
  background: linear-gradient(180.21deg, rgba(126, 45, 249, 0) 32.04%, rgba(126, 45, 249, .15) 99.81%), linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  filter: drop-shadow(15px 15px 50px #130623);
  opacity: 1;

}
.imagenIndex  img:hover{
  border: 1px solid #7E2DF9;
  border-radius: 5px;
  width: 36%;
  
}
.imagenIndex2  img:hover{
  border: 1px solid #7E2DF9;
  border-radius: 5px;
  width: 21%;
  
}
.imagenIndex2{
  position: relative;
  left: 50%;
  width: 100%;
  height: auto;
  top: -20%;
  border: 1px solid #7E2DF9;
  border-radius: 5px;
  display: block ;
line-height: 0 ;
}
.imagenIndex2 a{

  font-weight: 700;
  font-size: 1rem;
  color: #fff;
 font-family: "Blender Pro";
}
.imagenIndex2 img{
  border: 1px solid #faeba963;
  border-radius: 8px;
  width: 20%;
  background: linear-gradient(180.21deg, rgba(126, 45, 249, 0) 32.04%, rgba(126, 45, 249, .15) 99.81%), linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
  filter: drop-shadow(15px 15px 50px #130623);
  opacity: 1;

}

/*
  border-radius: 5px;
  border: 1px solid  rgba(250, 204, 165, .7);
  border-image: linear-gradient(90deg, rgba(250, 204, 165, .7) 0%, rgba(126, 45, 249, .7)) 1 / 1 / 0 stretch;
  box-shadow: 0 0 20px #d1d1d11f;

  border-radius: 4px;
  border: 1px solid #7E2DF9;

*/
/*----------------------------index imagen-------------------------*/
body01{
  position: relative;
  background-color: #e1dad0;
  margin: 0;
  font-family: 'Blender Pro';
  font-weight: bold;
  font-style: normal;
  font-size: 15px;
  top: 1%;
}

.carousel01{
    width: 100%;
   
    height: 720px;
    color: #eee;
    margin-top: -50px;
    position: relative;
}
.carousel01 .list{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.carousel01 .list .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carousel01 .list .item::before{
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: var(--bg-color);
    content: var(--title);
    font-size: 15em;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(238, 238, 238, 0.068);
    z-index: -1;
}

@media (max-width: 991px){
  .carousel01 .list .item::before{
    color: rgba(238, 238, 238, 0.473);
    font-size: 150px;
    top: -10%;
  }
  
}
.carousel01 .list .item .image{
    flex-shrink: 0;
    position: relative;
    bottom: 10%;
    width: 550px;
    height: 550px;
    --left: -140px;
    background: 
        var(--img-src) var(--left) 0,
     no-repeat;
    background-size: 100% auto;
    background-blend-mode: multiply;
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100% auto;
    mask-repeat: no-repeat;
    transition: background 1s ease-in-out;
    border: 1px solid #e4e4e4;
  border-radius: 8px;
  filter: drop-shadow(15px 15px 50px #130623);
  opacity: 1;
}

@media (max-width: 991px){
  .carousel01 .list .item .image{
    border: 1px solid #7e2df9;

  }
  .carousel01 .list .item .image:hover{
    border: 1px solid #e4e4e4;
  }
}

.carousel01 .list .item .image:hover{
  border: 1px solid #7E2DF9;
}
.carousel01 .list .item .content{
 
    width: 1140px;
    max-width: 90%;
    margin: auto;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    align-items: center;
    left: -8%;
    position: relative;
}
.carousel01 .list .item .info .title{
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
    font-family: 'Blender Pro';
}
.carousel01 .list .item .info .category{
    opacity: .7;
    font-family: "Blender Pro";
}
.carousel01 .list .item .info .des{
    margin: 1em 0;
    font-size: 20px;
    font-family: 'Blender Pro';
 font-weight: 100;
}
.carousel01 .list .item .info a{
    display: inline-flex;
    gap: 20px;
    text-decoration: none;
    color: #eee;
    font-weight: 20;
}
/* set active item */
.carousel01 .list .item{
    z-index: 1;
}
.carousel01 .list .item.active{
    z-index: 2;
}
.carousel01 .list .item.active .image{
    --left: 0;
}
/* arrows */
.arrows1 button01{
  background-color: transparent;
  border-image: linear-gradient(90deg, rgba(250, 204, 165, .7) 0%, rgba(126, 45, 249, .7)) 1 / 1 / 0 stretch;
  box-shadow: 0 0 20px #d1d1d11f;
  color: #fff;
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  line-height: 0;
  cursor: pointer;
  transition: 0.5s;
}
.arrows1 button#next{
    left: unset;
    right: 10%;
}
.arrows1 button:hover{
    background-color: #eee;
    color: #000;
}
.dots li{
    width: 10px;
    height: 10px;
    background-color: #eee5;
    border-radius: 50%;
    cursor: pointer;
}
.dots li.active{
    background-color: #eee;
}

@media (max-width: 991px){
  .dots li.active{
    background-color: #7e2df9;
}
}

.dots{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 120px;
    z-index: 2;
    width: max-content;
    left: 54%;
    transform: translateX(-50%);
    transition: background 0.5s;
}
.carousel01{
    overflow: hidden;
}
/* -----------------------responsive --------iphones6-----------------*/
@media screen and (max-width: 375px){
  .carousel01{
      height: 100vh;
  }
  body01{
    top: 8%;
  }
  .dots{
    left: 50%;
    top: 72%;
  }
  .carousel01 .list .item .info{
      position: absolute;
      bottom: 27%;
      width: 113%;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
      /*backdrop-filter: blur(20px);*/
      height: 31%;
      left: 2%;
  }
  .carousel01 .list .item .image:hover{
    border: 1px solid #7E2DF9;
  }

  .carousel01 .list .item::before {
    position: absolute;
    width: 100%;
    height: 80%;
   
}



  .carousel01 .list .item .info .title{
    font-size: 15px;

      font-weight: bold;
      text-transform: uppercase;
      line-height: 1em;
      font-family: 'Blender Pro';
  }
  .carousel01 .list .item .info .des{
   
    top: 10%;
    position: relative;
  }
  .carousel01 .list .item .content{
      justify-content: center;
      align-items: start;
  }
  .arrows1 button{
      top: unset;
      bottom: 40px;
  }
  .carousel01 .list .item .image{
     
      width: 350px;
      height: 350px;
      top: unset;
      bottom: 50px;
      left: 9%;
  }
  .dots{
    bottom: 30%;
  }
  .carousel01 .list .item .info .category{
 top: 20%;
 position: relative;
}
.carousel01 .list .item .info .title{
  top: 25%;
  position: relative;
}
.carousel01 .list .item .image{
  width: 350px;
  height: 350px;
  top: unset;
  bottom: 55px;
  left: 9%;
  position: relative;
}
}


/*----------------responsible---------------iphoneX-*/
@media screen and (max-width: 767px){
    .carousel01{
        height: 100vh;
    }
    body01{
      top: 8%;
    }
    .dots{
      bottom: 30%;
    }
  
    .carousel01 .list .item .info{
        position: absolute;
        bottom: 27%;
        width: 113%;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        /*backdrop-filter: blur(20px);*/
        height: 31%;
        left: 2%;
    }
    .carousel01 .list .item .image:hover{
      border: 1px solid #7E2DF9;
    }

    .carousel01 .list .item::before {
      position: absolute;
      width: 100%;
      height: 80%;
     
  }



    .carousel01 .list .item .info .title{
      font-size: 15px;

        font-weight: bold;
        text-transform: uppercase;
        line-height: 1em;
        font-family: 'Blender Pro';
    }
    .carousel01 .list .item .info .des{
     
        text-align: justify;
        font-size: 15px;
        font-family: 'Blender Pro';
     font-weight: 100;
    }
    .carousel01 .list .item .content{
        justify-content: center;
        align-items: start;
    }
    .arrows1 button{
        top: unset;
        bottom: 40px;
    }
    .carousel01 .list .item .image{
       
        width: 350px;
        height: 350px;
        top: unset;
        bottom: 50px;
        left: 9%;
    }
}

/* effect */
@keyframes transformAnimation{
    from{
        transform: translateX(var(--transform-from));
    }to{
        transform: translateX(var(--transform-to));
    }
}

.carousel01.effect .item .image{
    animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel01.effect .item .info .title,
.carousel01.effect .item .info .category,
.carousel01.effect .item .info .des,
.carousel01.effect .item .info a{
    animation: transformAnimation 1s ease-in-out 1 forwards;
}
.carousel01.effect .item .info .category{
    animation-delay: 0.1s;
}
.carousel01.effect .item .info .des{
    animation-delay: 0.2s;
}
.carousel01.effect .item .info a{
    animation-delay: 0.3s;
}
.carousel01.effect .item.active{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    animation: animationClipPath 0.9s ease-in-out 1 forwards;
}
@keyframes animationClipPath{
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.carousel01.effect{
    --transform: 300px;
}
.carousel01.effect .item.active{
    --transform-from: calc(var(--transform) * -1);
    --transform-to: 0px;
}
.carousel01.effect .item{
    --transform-from: 0;
    --transform-to: var(--transform);
}

/*---------------------------------*/
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background: rgb(99,47,163);
  width: 0%;
  height: 100%;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

/*------------------------------*/
.layout {
  width: 100px;
  height: 30px;

  display: grid;
  grid:
    "facebook whatsapp twiter" 1fr
    "tiktok instagram x" 1fr
    / 1fr 1fr 1fr;
  gap: 40px;
  left: 11px;
  bottom: 10px;

}

.facebook { grid-area: facebook; }
.whatsapp { grid-area: whatsapp; }
.twiter { grid-area: twiter; }
.tiktok { grid-area: tiktok; }
.instagram { grid-area: instagram; }
.x { grid-area: x; }

.layout a{
  color: #838383;
  bottom: -120%;
  position: relative;
}

.layout a:hover{
  color: #a03cfc;
  transition: color .35s ease,text-shadow .35s ease;
  text-shadow: 0px 0px 20px #a03cfc;

}
@media (max-width: 991px){
  .layout {
    width: 100px; 
    display: grid;
    grid:
      "facebook whatsapp twiter" 1fr
      "tiktok instagram x" 1fr
      / 1fr 1fr 1fr;
    gap: 30px 50px;
    left: 110px;
    bottom: 240px;
  }

}

/*---------sOTRE--------------*/



.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}


.bodyStore{
   
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

footerStore{
  
  width: 100%;
  }
 
    headerStore {
      z-index: 999;
      position: fixed;
     
      left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 10px 80px;
      transition: 0.6s;
      background-color: #000;
      flex-direction: row;
  
  }


/*
    z-index: 999;
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    transition: 0.6s;*/






  headerStore.down{
    padding: 5px 50px;
    transition: .15s
  }  
  @media (max-width: 991px){
    headerStore.down .brand img{
     
        height: 40px;
        left: 10%;
        position: relative;
 
      
  }  

  headerStore {
    z-index: 999;
    position: fixed;
    top: 38px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    transition: 0.6s;
    background-color: #000;
}








} 

  img.down{
    display:block;
  margin:auto;
    
  }
  
  
  headerStore .brand{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    
  }
  
  headerStore .menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 4px;
  }
  
  headerStore .menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    right: 5%;
  }
  
  headerStore .menu ul li{
      list-style: none;
  }
  
  headerStore .menu a{
    color: #ffffff;
    font-weight: 10;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    margin: 0 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    transition-property: color, background;
  }
  



  headerStore .menu a:hover{
    color: #7e2df9;
    transition: color .35s ease,text-shadow .35s ease;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #a03cfc;
  
  }
  
  .section-two{
    padding: 20px;
  }
    /*boton para  abir menu lateral*/
    headerStore .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 991px){
    headerStore, headerStore.down{
        padding: 20px 10px;
        top: 0;
    }
    headerStore .btn{
      display: block;
      color: #ffffff;
    
    }
  /*menulateral modomovil*/
  headerStore .menu{
      position: fixed;
      background-image: linear-gradient(to right, #000000 , #000000);
      min-width: 330px;
      height: 100vh;
      top: 0;
      right: -150%;
      padding: 80px 50px;
      transition: 0.5s;
      transition-property: right;
      
    }
  
    headerStore .menu ul{
        flex-direction: column;
      }
  
      headerStore .menu.active{
      right: 0;
    }
  
    headerStore .menu .close-btn{
      position: absolute;
      top: 0;
      left: 0;
      margin: 25px;
    }
  
    headerStore .menu a{
      display: block;
      font-size: 11px;
      margin: 20px;
      padding: 0 15px;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-weight: normal;
    }
  }

  @media (max-width: 600px){
    .section-main h1{
      font-size: 50px;
      line-height: 60px;
    }
  }
  headerStore .brand img {
    height: 50px;
    right: 20%;
    position: relative;

}

.img-overlayStore {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('/img/3.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px; /* o el alto que desees */
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
    position: relative;


}

@media (max-width: 991px){
  .img-overlayStore {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 12%;
    object-fit: cover;
    top: 80px;

}
headerStore .brand img {
  height: 50px;
  left: 15%;
  position: relative;
}
headerStore .menu .close-btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
}
headerStore .menu .btn {
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
}

}
/*------------scroll------------------*/
body::-webkit-scrollbar{
  width: 10px;
  background: #7e2df9;
}
body::-webkit-scrollbar-thumb{
  background: #7e2df9;
  border-radius: 10px;
  border-right: 2px solid  #7e2df9 
}



body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}