

 /*--------------------------------------------------------------------------*/

       /*footer3morado*/
       
       .footer {
        background-color: #190931;
        color: #fff;
        padding: 7rem 0;
        border-block: 1px solid #7E2DF978;
        
        
      }
      .column {
        flex-basis: calc(33.333% - 6rem);
        margin: 0;
        font-family: 'Blender Pro';
      font-weight: normal;
  font-style: normal;
      }
      
      .container2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        padding: 00 90px;
        font-family: 'Blender Pro';
      font-weight: normal;
  font-style: normal;
    }
      
      .social-media2 {
       display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
      }
      .social-media2 a {
        margin-right: 25px;
        justify-content: space-between;
        color: #beb3cf;
        width: 100%;
        
      }
    
    
      
      .column h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
      }
      
      .column ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #beb3cf;
      }
    
    
      
      .column ul li {
        flex-basis: calc(25% - 0.5rem);
        
      }
      
      .column ul li a {
        display: flex;
        justify-content: center;
    
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        color: #beb3cf;
        font-size: 1.8rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }
      
      .column ul li a:hover {
        background-color: #fff;
        color: #428a00;
      }
      
      .column p {
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: 100;
        font-style: normal;
      }
      .column a {
        
        font-family: 'Blender Pro';
        font-weight: 100;
        font-style: normal;
        color: #ffffff;
        text-decoration: none;
      }
    
   
   
    @media (max-width: 991px){
        .footer {
            justify-content: flex-start;
          
            padding: 15rem 2rem;
            height: 50%;
        }
    }
    @media (max-width: 991px){
    .container2 {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 50px;
        padding: 0;
      }  }

      @media (max-width: 991px){
      .column {
        flex-basis: calc(33.333% - 6rem);
    margin: 0;
    position: relative;
    bottom: 70px;
      }}
      @media (max-width: 991px){

      .column p {
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
      }}
      @media (max-width: 991px){

      .column a {
    font-family: 'Blender Pro';
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
   
    }
      }
    
      @media (max-width: 991px){   
      .column h3 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
        font-family: 'Blender Pro';
        font-weight: bold;
        font-style: normal;
        bottom: 4px;
        position: relative;
      } }



      body90 {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }
      
      .match-container {
        max-width: 1380px;
        margin: 50px auto;
        background: #7f2df900;
        position: relative;
        background: #7E2DF90D;
        border: 1px solid;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
        height: 145px;
        bottom: 60px;
    }
    @media (max-width: 991px){   
    .match-container {
      max-width: 1380px;
      margin: 150px 30px;
      background: #7f2df900;
      position: relative;
      background: #7E2DF90D;
      border: 1px solid;
      border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
      box-shadow: 0 0 20px #d1d1d11a;
      height: 270px;
      bottom: -90px;
  }}
     
      
      .match-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
        color: #ffffff;
        border: 1px solid;
        max-width: 1380px;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
      }
      
      .team-name {
         font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
       
      }
      @media (max-width: 991px){ 
      .match-title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
        color: #ffffff;
        border: 1px solid;
        max-width: 1380px;
        border-image: linear-gradient(90deg,rgba(250,204,165,.7) 0%,rgba(126,45,249,.7)) 1/1/0 stretch;
        box-shadow: 0 0 20px #d1d1d11a;
      } }
      @media (max-width: 991px){ 
      .team-name {
         font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
       
      } }
      .match-subtitle {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        color: #777;
      }
      
      .match-details {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 10;
         font-size: 16px;
         font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
      }
      
      .match-date {
        font-size: 18px;
        font-family: 'Blender Pro';
        font-weight: bold;
        color: #ffffff;
      }
      
      .match-time {
        font-size: 18px;
        font-family: 'Blender Pro';
         font-weight: bold;
         color: #ffffff;
      }
      
      .match-game {
        font-size: 18px;
        font-family: 'Blender Pro';
        font-weight: bold;
        color: #ffffff;
      }
