


<body90>
  <div class="match-container">
    <h1 class="match-title">
      <span class="team-name">ACE Masters Spring - Blast Premier Showdown Qualifier</span>
    </h1>
    <h2 class="match-subtitle">
     
    </h2>
    <div class="match-details">
      <span class="match-date">02/02/2024</span>
      <span class="match-time">18:00 HS ARG</span>
      <span class="match-game">CS GO</span>
    </div>
  </div>
</body90>
