<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">


  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

	<footer class="footerstore">
		<div class="containerstore">
			<div class="column2 contact-store2">
				<h3> SUSCRIBITE A NUESTRO NEWSLETTER</h3>
                
                <div class="form-group ">
                    <input type="email" id="email" class=" form-control  " autocorrect="off" autocapitalize="off" name="email" placeholder="Email" aria-label="Email">
                    </div>
					<input type="submit" name="contact" class="btn1 newsletter-btn" value="Enviar">
					
			
				  

				 

			</div>

		  <div class="column2 contact-store ">
			<h3> CATEGORIAS</h3>

  		        <p><a href="/">Inicio</a></p>
				<p><a href="/integrant">Productos</a></p>
				<p><a href="/about">Contacto</a></p>
				<p><a href="/events">Política de Devoluciones y Cambios</a></p>
		
		  </div>
		  <div class="column2 additional-links">
			<h3>CONTACTANOS</h3>
			<ul>
				<a href="#">teamsamuraiz@tz</a>
			</ul>

		  </div>
		</div>
	  </footer>

</body>
</html>


