<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body77>
  <section>
               <div class="swiper mySwiper container">
                <div class="swiper-wrapper content">
                

                  <div class="swiper-slide">
                  <div class="card" >
                    <div class="box1"> </div>
                      <div class="card-content">
                        <div class="imagen">
                                  <img src="/img/morcito.png" alt="">
                       </div>
                       <div class="media-icons">
                                 <i class="fab fa-facebook fa-xs"></i>
                                 <i class="fab fa-tiktok fa-xs"></i>
                                 <i class="fab fa-whatsapp fa-xs"></i>   
                       </div>
                       <div class="name-profession">
                                  <spam class="name">Wayra Soliz</spam>
                                  <spam class="profession">Full kombat</spam>
                       </div>
                      
                       <div class="about">
                                 <p> instructora oficial de full kombat y ritmos fitness</p>
                       </div>
                         <div class="button1">
                                 <button class="aboutMe"> sobre mi</button>
                                 <button class="hireMe"> sobre mi2</button>
                         </div>
                    </div>
                    
                  </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" >
                      <div class="box1"> </div>
                        <div class="card-content">
                          <div class="imagen">
                                    <img src="/img/morcito.png" alt="">
                         </div>
                         <div class="media-icons">
                                   <i class="fab fa-facebook fa-xs"></i>
                                   <i class="fab fa-tiktok fa-xs"></i>
                                   <i class="fab fa-whatsapp fa-xs"></i>   
                         </div>
                         <div class="name-profession">
                                    <spam class="name">Wayra Soliz</spam>
                                    <spam class="profession">Full kombat</spam>
                         </div>
                        
                         <div class="about">
                                   <p> instructora oficial de full kombat y ritmos fitness</p>
                         </div>
                           <div class="button1">
                                   <button class="aboutMe"> sobre mi</button>
                                   <button class="hireMe"> sobre mi2</button>
                           </div>
                      </div>
                      
                    </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="card" >
                        <div class="box1"> </div>
                          <div class="card-content">
                            <div class="imagen">
                                      <img src="/img/morcito.png" alt="">
                           </div>
                           <div class="media-icons">
                                     <i class="fab fa-facebook fa-xs"></i>
                                     <i class="fab fa-tiktok fa-xs"></i>
                                     <i class="fab fa-whatsapp fa-xs"></i>   
                           </div>
                           <div class="name-profession">
                                      <spam class="name">Wayra Soliz</spam>
                                      <spam class="profession">Full kombat</spam>
                           </div>
                          
                           <div class="about">
                                     <p> instructora oficial de full kombat y ritmos fitness</p>
                           </div>
                             <div class="button1">
                                     <button class="aboutMe"> sobre mi</button>
                                     <button class="hireMe"> sobre mi2</button>
                             </div>
                        </div>
                        
                      </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="card" >
                          <div class="box1"> </div>
                            <div class="card-content">
                              <div class="imagen">
                                        <img src="/img/morcito.png" alt="">
                             </div>
                             <div class="media-icons">
                                       <i class="fab fa-facebook fa-xs"></i>
                                       <i class="fab fa-tiktok fa-xs"></i>
                                       <i class="fab fa-whatsapp fa-xs"></i>   
                             </div>
                             <div class="name-profession">
                                        <spam class="name">Wayra Soliz</spam>
                                        <spam class="profession">Full kombat</spam>
                             </div>
                            
                             <div class="about">
                                       <p> instructora oficial de full kombat y ritmos fitness</p>
                             </div>
                               <div class="button1">
                                       <button class="aboutMe"> sobre mi</button>
                                       <button class="hireMe"> sobre mi2</button>
                               </div>
                          </div>
                          
                        </div>
                        </div>


                </div>
               </div>


               <div class="swiper-button-next"></div>
               <div class="swiper-button-prev"></div>
         
  </section>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
var swiper = new Swiper(".mySwiper", {
slidesPerView:3,
spaceBetween: 30,
grabCursor: true,
autoplay: {
  delay: 2500,
  disaleOnInteraction: false,
  pauseOnMouseEnter: true,
},
slidesPerGroup: 1,
loop: true,
loopFillGroupWithBlank: true,
pagination: {
  el: ".swiper-pagination",
  clickable: true,
},
navigation: {
  nextEl: ".swiper-button-next",
  prevEl: ".swiper-button-prev",
},
})

</script>


</body77>
</html>