<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="column1">
            <img src="/img/LIDERES.png" alt="Imagen 1" class="image">
              
            </div>
        </div>
    </div>
</body>
</html>