<section class="layoutstore">
    <div class="uno"><a href=""><img src="/img/store/1.webp" alt=""><h1 class="storename">Camiseta TZ Edición 2023 Dark blue</h1><h1 class="storename2">Presio 150bs.-</h1></a></div>

    <div class="dos"><a href=""><img src="/img/store/2.webp" alt=""><h1 class="storename">Gorra SAMURATON black </h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="tres"><a href=""><img src="/img/store/6.webp" alt=""><h1 class="storename">Bolson SAMUTEAM woman</h1><h1 class="storename2">Presio 180bs.-</h1></a></div>

    <div class="cuatro"><a href=""><img src="/img/store/4.webp" alt=""><h1 class="storename">Vaso blue SAMURAIZ</h1><h1 class="storename2">Presio 20bs.-</h1></a></div>

    <div class="cinco"><a href=""><img src="/img/store/5.webp" alt=""><h1 class="storename">OdieS SAMURAIZ black</h1><h1 class="storename2">Presio 180bs.-</h1></a></div>

    <div class="seis"><a href=""><img src="/img/store/3.webp" alt=""><h1 class="storename">Camiseta TZ Edición 2021 ARMY</h1><h1 class="storename2">Presio 150bs.-</h1></a></div>

    <div class="siete"><a href=""><img src="/img/store/7.webp" alt=""><h1 class="storename">OdieS TZ SAMURAIZ Skygreen</h1><h1 class="storename2">Presio 200bs.-</h1></a></div>

    <div class="ocho"><a href=""><img src="/img/store/8.webp" alt=""><h1 class="storename">Chulo Urban Style</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>
  </section>


  