<section class="layoutstore">
    <div class="uno"><a href=""><img src="/img/store/1.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="dos"><a href=""><img src="/img/store/2.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="tres"><a href=""><img src="/img/store/3.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="cuatro"><a href=""><img src="/img/store/4.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="cinco"><a href=""><img src="/img/store/1.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="seis"><a href=""><img src="/img/store/2.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="siete"><a href=""><img src="/img/store/1.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>

    <div class="ocho"><a href=""><img src="/img/store/2.webp" alt=""><h1 class="storename">Camiseta 9Z Edición 2023 Blanca</h1><h1 class="storename2">Presio 50bs.-</h1></a></div>
  </section>


  